text {
    font: 12px sans-serif;
}
h1 {
    font: 20px sans-serif;
    font-weight: 700;
}
svg {
    display: block;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font: 12px sans-serif;
}
.dashed {
    stroke-dasharray: 5,5;
}
.panel {
    width: 100%;
    margin: 10px 0 50px 0;
}

.chart_panel {
    height: 300px;
}

.raw_log {
    margin-left: 20px;
}

.img_log {
    width: 100%;
}

.experiment {
    border-bottom: 2px solid #ccc;
}

.timestamp {
    float: right;
}

#content {
    width: 800px;
    margin: auto;
}
